#Header {
    color: var(--MainColor);
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

#Header-Scrolled {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-width: 0 0 1 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.253);
}

.Header-Container {
    display: grid;
    grid-template-columns: 6fr 4fr;
    width: 98%;
    margin: 0px 0px;
    padding: 1vh 1vw;
}

#Logo-Section {
    display: flex;
}

#Logo-Section img {
    height: 70px;
}

#loginButton{
    background-color: white;
    border: none;
    font-size: 24px;
    color: #F18D04;
}

#signupButton{
    background-color: #F18D04;
    padding: 10px 20px;
    border-radius: 23px;
    border: none;
    font-size: 24px;
    color: white;
}

/* #Navigation-Bar {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

#Navigation-Bar li {
    font-size: 1.5rem;
}

#Navigation-Bar li:hover {
    margin: 0 1vw;
    font-weight: bold;
} */

#loginSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#Navigation-Bar-Scrolled {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-left: 50px;
    list-style: none;

}

#Navigation-Bar-Scrolled li {
    margin: 0 1.5vw;
    font-size: 1.5rem;
    text-decoration: none;
}

#Navigation-Bar-Scrolled li:hover {
    margin: 0 1vw;
    font-weight: bold;
}

#Navigation-Bar-Scrolled a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#input-with-logo{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 10px 10px;
    border-radius: 23px;
    height: fit-content;
}

#input-with-logo img{
    width: 30px;
    height: 30px;
}

#input-with-logo input{
    border: none;
    font-size: 20px;
}

#input-with-logo input[type="text"]:focus {
    outline: none;
    border: none;
}
