#Header {
    color: var(--MainColor);
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

#Header-Scrolled {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-width: 0 0 1 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.253);
}

.Header-Container {
    display: flex;
    width: 98%;
    margin: 0px 0px;
    padding: 1vh 1vw;
}

#Logo-Section {
    display: flex;
}

#Logo-Section img {
    height: 70px;
}

/* #Navigation-Bar {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

#Navigation-Bar li {
    font-size: 1.5rem;
}

#Navigation-Bar li:hover {
    margin: 0 1vw;
    font-weight: bold;
} */

#Navigation-Bar-Scrolled {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-left: 50px;
    list-style: none;

}

#Navigation-Bar-Scrolled li {
    margin: 0 1.5vw;
    font-size: 1.5rem;
    text-decoration: none;
}

#Navigation-Bar-Scrolled li:hover {
    margin: 0 1vw;
    font-weight: bold;
}

#Navigation-Bar-Scrolled a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#input-with-logo{
    
}
